<!DOCTYPE html>
<html ng-app="poolin" xmlns:font-family="http://www.w3.org/1999/xhtml">

<head>
    <!-- Meta Tags -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="Cache-Control" content="max-age=604800, must-revalidate"/>
    <title>Mypoolin - Payments made fun</title>
    <meta name="viewport" content="width=device-width, initial-scale=0.95"/>

    <!-- Favicon etc -->
    <link rel="icon" type="image/png" href="images/favicon.png">
    <link rel="image_src" href="images/logo.png"/>
    <link rel="alternate" href="android-app://com.app.mypoolin/http:/www.mypoolin.com"/>
    <meta property="al:android:url" content="mypoolin://">
    <meta property="al:android:package" content="com.app.mypoolin">
    <meta property="al:android:app_name" content="Mypoolin">


    <meta name="description"
          content="The fastest and most convenient way to share money with friends. You can also chat and pay as a group for anything - gifts, parties, events, movies and outings! Invite along your friends, colleagues or anyone to share money and discuss together. Collected money can be cashed out directly into any bank account or redeemed directly in the form of cards, vouchers and tickets. Gift cards and vouchers are available across multiple brands and can be redeemed both online and offline. Explore our collection of 90+ partner brands like Amazon, Flipkart, MakeMyTrip, Myntra, Jabong, ITC, Dineout, PVR, BookMyShow and more! Or simply transfer money to any bank account just by using your phonebook"/>

    <meta itemprop="keywords"
          content="plan and pay with friends, settling bill money with friends, group gift cards india, gift cards friends, share money friends india, splitting bill app friends, settle bill friends, group gift for wedding, send money friends, request money friends, office party money collect, money sharing friends, P2P money transfer"/>

    <meta name="twitter:title" content="Mypoolin : Payments made Fun - Discover, Chat together, Pay and request money"/>
    <meta name="google" content="notranslate"/>
    <meta name="copyright"
          content="Mypoolin : Payments made Fun - Discover, Chat together, Pay and request money. Copyright - InfinyPool Online Payments"/>

    <!-- Mobile Specifics -->
    <meta name="HandheldFriendly" content="true"/>
    <meta name="MobileOptimized" content="320"/>
    <META NAME="ROBOTS" CONTENT="INDEX, FOLLOW">
    <meta name="apple-mobile-web-app-capable" content="yes">


    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="bower_components/bootstrap-sidebar/dist/css/sidebar.css">
    <link rel="stylesheet" href="poolincss/style.css">
    <link rel="stylesheet" href="bower_components/Ionicons/css/ionicons.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog.min.css">
    <link rel="stylesheet" href="bower_components/ng-dialog/css/ngDialog-theme-default.min.css">

</head>

<body scroll ng-controller="myCtrl">

<div class="splashbacklogo" ng-class="{transitionmainview:splashanimation,splashdisplaynone:splashdisplaynone}">
    <div class="centeringelement" ng-class="{splashlogoanimation:splashlogoanimation}">
        <img ng-src="images/loader.gif" style="width:70px">
    </div>
</div>



<!--<div ng-if="showmainscreen">-->
<div ng-include="'html/navbar.html'"></div>
<!-- This is the Navbar which also includes sidebar-->

<!-- Begin page content -->
<div class="container-fluid containerfluidwrapper" ng-click="makebackgroundnormal()">

    <div ng-if="showAccount" ng-include="'html/account.html'"></div>
    <!-- This section is to toggle account section-->
    <div ng-include="'html/section1.html'"></div>
    <!-- This section is the topmost section which contains getlink of the app -->
    <div ng-include="'html/section2.html'"></div>
    <!--This section shows how thw app works-->
    <div ng-include="'html/section3.html'"></div>
    <!-- This section shows how to get start with mypoolin -->
    <div ng-include="'html/section4.html'"></div>
    <!-- This section shows the feedbacks and press -->
    <div ng-include="'html/footer.html'"></div>
    <!-- This is the Footer -->
    <my-directive></my-directive>
    <!-- This is to check the width of the screen dynamically -->
</div>
<!--</div>-->


<!-- Essential for Bootstrap to work-->
<script src="bower_components/jquery/dist/jquery.js"></script>
<!-- Including Angular js Scripts -->
<script src="bower_components/angular/angular.min.js"></script>
<script src="bower_components/angular-route/angular-route.min.js"></script>
<!--including bootstrap scripts -->
<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!--including Sidebar -->
<script src="bower_components/bootstrap-sidebar/dist/js/sidebar.js"></script>
<!-- Include angular scroll for scrolling -->
<script src="bower_components/angular-scroll/angular-scroll.min.js"></script>
<!--including app.js -->
<script src="js/app.js"></script>
<script src="js/controllers.js"></script>
<script src="bower_components/ng-dialog/js/ngDialog.min.js"></script>
<!--contains controllers part -->

</body>
</html>
