<div class="defaultnvabarshow"
     ng-class="{customnavbarhide:customnavbarhide,customnavbarshow:customnavbarshow,makebodyblur:makebodyblur}"></div>

<div ng-class="{makebodyblur:makebodyblur}">

    <a du-smooth-scroll="section-1" du-scrollspy offset="50" href="">
        <img src="images/img/Logo_White.png" ng-class="{logozindexwhite:logozindexwhite}"
             class="topleftlogo">

        <img src="images/img/Logo_Blue.png" ng-class="{logozindexblue:logozindexblue}"
             class="topleftlogo">
    </a>


    <a href="Explore/bot.html" style="text-decoration: none;" ng-class="{hideaccountbot:hideaccountbot}">
        <div class="text-center showbot"
             style="position: absolute;left: 0;top:76px;width: 40px;height:40px;background-color: #f5a623;border-radius: 5px;z-index: 40">
            <i class="ion-chatbubble-working " style="font-size: 2.1em;color: white">

            </i>
        </div>

        <div class="text-center hidebot"
             style="position: absolute;left: 0;top:76px;width: 200px;height:50px;background-color: #f5a623;border-radius: 5px;
             z-index: 40;border-bottom-left-radius: 0px;border-top-left-radius: 0px;
             padding-top:14px;">
            <h4 style="font-size: 1.1em;color: white;font-weight: 600">
                EXPLORE OUR CHATBOTS
            </h4>
        </div>

    </a>


    <a href="tel:+91-9599771577" style="text-decoration: none;">
        <div class="text-center" ng-mouseenter="showcallus()" ng-class="{showcallsymbol:showcallsymbol}"
             style="position: fixed;right: 0;bottom:0;width: 54px;height:52px;background-color: #366595;border-radius: 5px;z-index: 40">
            <i class="ion-social-whatsapp-outline" style="font-size: 2.7em;color: white">

            </i>
        </div>
        <img src="images/Callus.png" ng-mouseleave="hidecallus()" ng-class="{showcall:showcall}"
             style="width:200px;position: fixed;right: 0;bottom:0;border-top-right-radius:0px;border-bottom-right-radius:0px;z-index: 40">
    </a>


    <i class="ion-navicon defaulticonbar"
       data-toggle="sidebar"
       data-target=".sidebar-right"
       ng-click="makebackgroundblur()" ng-class="{changeiconbar:changenavicon}">
    </i>

    <h4 class="defaultmyaccount showaccountbrowser" ng-click="gotToAccounts()"
        du-smooth-scroll="section-1" du-scrollspy offset="550"
        ng-class="{changemyaccountcol:changemyaccountcol}">
        <b>MY ACCOUNT</b>
    </h4>

</div>


<div class="col-xs-7 col-sm-3 col-md-3 sidebar sidebar-right sidebar-animate" ng-class="{togglesidebar:togglesidebar}">

            <span class="ion-ios-close-empty" ng-click="makebackgroundnormal()"
                  ng-class="{howitworksanimate:howitworksanimate}"
                  data-toggle="sidebar"
                  data-target=".sidebar-right"
                  style="cursor: pointer">
            </span>

    <ul class="nav navbar-stacked" style="margin-top:10px">

        <li class="howitworks" ng-class="{howitworksanimate:howitworksanimate}" data-toggle="sidebar"
            data-target=".sidebar-right">
            <a class="howitworks fontsidebartags"
               data-toggle="sidebar"
               data-target=".sidebar-right"
               ng-class="{howitworksanimate:howitworksanimate}"
               ng-click="makebackgroundnormal()"
               du-smooth-scroll="section-1" du-scrollspy offset="50">
                HOME
            </a>
        </li>


        <li class="howitworks" ng-class="{howitworksanimate:howitworksanimate}">
            <a class="howitworks" style="font-family: 'Titillium Web', sans-serif"
               ng-click="makebackgroundnormal()" data-toggle="sidebar"
               data-target=".sidebar-right" du-smooth-scroll="section-1" du-scrollspy offset="-520">
                HOW IT WORKS
            </a>
        </li>

        <li class="examples" ng-class="{howitworksanimate:howitworksanimate}">
            <a class="examples fontsidebartags" href="Explore/Transfers.php"
               ng-click="makebackgroundnormal()" data-toggle="sidebar"
               data-target=".sidebar-right" du-smooth-scroll="section-3" du-scrollspy>
                SEND/REQUEST
            </a>
        </li>

        <li class="getstarted" ng-class="{howitworksanimate:howitworksanimate}"  data-toggle="sidebar"
            data-target=".sidebar-right">
            <a class="getstarted" style="font-family: 'Titillium Web', sans-serif"
               ng-click="makebackgroundnormal()"
               du-smooth-scroll="section-3"
               du-scrollspy offset="-160"
              >
                GET STARTED
            </a>
        </li>

        <li class="faqs" ng-class="{howitworksanimate:howitworksanimate}">
            <a class="faqs fontsidebartags" href="Faqs.html"
               ng-class="{howitworksanimate:howitworksanimate}"
               ng-click="makebackgroundnormal()"
               data-toggle="sidebar"
               data-target=".sidebar-right">
                FAQS
            </a>
        </li>

        <li class="forbusinesses" ng-class="{howitworksanimate:howitworksanimate}">
            <a href="Api.php" class="forbusinesses fontsidebartags"
               data-toggle="sidebar"
               data-target=".sidebar-right">
                BUSINESSES
            </a>
        </li>

        <li class="myaccountsidebar" ng-click="gotToAccounts()"
            ng-class="{howitworksanimate:howitworksanimate,showaccountbrowser:!showaccountbrowser}">
            <a class="myaccountsidebar fontsidebartags"
               data-toggle="sidebar"
               data-target=".sidebar-right">
                MY ACCOUNT
            </a>
        </li>

                <span class="social-account">
                    <a href="https://twitter.com/mypoolin" target="_blank">
                        <i class="ion-social-twitter"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCWU-mceX3AWWfJcFpUOHp0Q" target="_blank">
                        <i class="ion-social-youtube"></i>
                    </a>
                    <a href="https://www.facebook.com/mypoolin" target="_blank">
                        <i class="ion-social-facebook"></i>
                    </a>
                </span>

    </ul>

</div>
</div>


